<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="header">
        {{>header}}

    </div>
    <h1>Dashboard</h1>
    <table width="50%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Image</th>
            <th>Verified</th>
           
            <th>vote</th>
        </tr>

        {{#if users}}
        {{#each users}}
        <tr>
            <td>{{_id}}</td>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td><img src="/userImg/{{image}}" width="100px" height="100px" alt="{{image}}"></td>
            <td>
                {{#if is_verified}}
                verified
                {{else}}
                not verified
                {{/if}}
            </td>
         
            <td>
              
                
                 <button onclick="">vote</button>
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td colspan="4">Users not found</td>
        </tr>
        {{/if}}
    </table>

    {{!-- <a href="/admin/home">home</a> --}}
</body>

</html>


 